
<p>Super Rentals is a fictive website that Mikaela have
made with Emberjs. Super Rentals is renting out three pretty boring places.
 This is all from a tutorial at
Emberjs page. But Mikaela have made 2 components, this specifially 
page and a 'info' link in the nav-bar all by herself.</p>