<p>Super Rentals is a fictive website that Mikaela have
made with Emberjs. Super Rentals is renting out three pretty boring places.
 This is all from a tutorial at
Emberjs page. But Mikaela have made 6 components (the three animal-components, rental2, rental3 and this info-text), this very 
page and a 'info' link in the nav-bar all by herself.
Cheers!</p>