
<p>Super Rentals is a fictive website that Mikaela have
made with Emberjs. Super Rentals is renting out three pretty boring places.
 This is all from a tutorial at
Emberjs page. But Mikaela have made 3 components (rental2 and rental3 was not in the tutorial), this specifially 
page and a 'info' link in the nav-bar all by herself.</p>