<article class="rental">
    <Rental::Image
    src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Alfonso_13_Highrise_Tegucigalpa.jpg"
    alt="A picture of Urban Living"
    />
    <div class="details">
        <h3>Urban Living</h3>
        <div class="detail owner">
            <span>Owner:</span> Mike Teavee
        </div>
        <div class="detail type">
            <span>Type:</span> Condo
        </div>
        <div class="detail location">
            <span>Location:</span> Seattle
        </div>
        <div class="detail bedrooms">
            <span>Number of bedrooms:</span> 1
        </div>
    </div>
</article>