<Jumbo>
    <h2>About Super Rentals</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quia assumenda, delectus veniam nostrum doloremque fuga 
        impedit vero debitis quo nesciunt maiores non reiciendis 
        nobis deleniti in cupiditate odio repellendus nulla.
    </p>
    <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>
