<Jumbo>
    <h2>Information about Super Rentals!</h2>
    <InfoText />
    <LinkTo @route="index" type="button" class="button">Home</LinkTo>
</Jumbo>

<div class="rental">
    <p class="big-text">
        You can also choose an animal by your choice:
    </p>
    <ul class="results row">
        <li class="detail"><AlbinoKangaroo /></li>
        <li class="detail"><CurlyDog /></li>
        <li class="detail"><FluffyLlama /></li>
    </ul>
</div>
